{# {% extends "base.twig" %} #}
<div class="container-fluid bg-light">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand text-primary fw-bold" href="{{site.link}}" title="{{site.name}}">{{site.name}}</a>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% for item in menu.get_items %}
            {% if item.children %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {{ item.current_item_ancestor ? 'active'}}" href="#"
                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{item.title}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for child in item.children %}
                <li>
                  <a class="dropdown-item {{ child.current ? 'active'}}" href="{{child.link}}">{{child.title}}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link {{ item.current ? 'active'}}" href="{{item.link}}">{{item.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Looking for something?" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>